*{
	font-family: OpenSans-Regular;
}

.mt-auto{
	margin-top: auto;
}
.ml-auto{
	margin-left: auto;
}
.mr-auto{
	margin-right: auto;
}
.mb-auto{
	margin-bottom: auto;
}

.h-100{
	height: 100%;
}

.my-fab{
	bottom: 30px;
}

.border-bottom{
	border-bottom: 1px solid #ddd;
}

.border-top{
	border-top: 1px solid #ddd !important;
}
.has-badge{
	position: relative;
}

.has-badge ion-badge{
	position: absolute;
	top: 2px;
	right: -5px;
	font-size: 10px;
	height: 18px;
	width: 18px;
	text-align: center;
	line-height: 18px;
	padding: 0;
}
.strike-text{
	text-decoration: line-through;
}

.bg-transparent{
	--background:transparent;
}


/*.ios ion-label,
.ios ion-note{
	font-size: 14px !important;
	}*/

	.pb-60{
		padding-bottom: 60px;
	}

	.pb-30{
		padding-bottom: 30px;
	}

	.pb-15{
		padding-bottom: 15px;
	}

	.PopoverComponent{
		--min-width: 180px;
		--width:auto;
	}

	ion-label{
		outline: none;
	}

	.task-wrapper{
		/*margin-bottom: 10px;*/
	}

	.task-avatar{
		height: 50px;
		width: 50px;
	}


	.task-date{
		padding-right: 15px;
		line-height: 22px !important;
	}
	.task-date.overdue{
		color: #dc0000;
	}
/*.forwaded-task{
	margin-top: 5px;
	margin-bottom: 5px;
	opacity: 0;
	}*/


	.forwaded-task{
		margin-top: 5px;
		margin-bottom: 5px;
		opacity: 0;
	}


	.forwaded-task.forward{
		opacity: 0.8;
	}

	.ss-task{
		padding: 10px 0;
	}

	.task-wrapper .ss-task:not(:last-child){
		border-bottom: 1px solid #f2f2f2;
	}

	.ss-task ion-item{
		--min-height:20px;
	}
	.ss-task ion-label{
		align-self: flex-start;
	}
	.ss-task ion-checkbox{
		align-self: flex-start;
		height: 16px;
		width: 16px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 15px;
	}

	.task-avatar-heading ion-label h3{
		font-size: 16px;
		line-height: normal;
		font-family: OpenSans-SemiBold;
	}

	.task-avatar-heading ion-item,
	.task-avatar-heading{
		--background: #e9f1ff !important;
		border-bottom: 0;
		/*border-bottom: 1px solid #dbe5f7;*/
	}

	.task-avatar-forward{
		position: relative;
		margin-right: 28px;
		height: 24px;
		width: 24px;
	}

	.task-avatar-forward ion-img,
	.task-avatar-forward img{
		opacity: 0.8;
	}
	.task-avatar-forward .forward-icon{
		position: absolute;
		top: 0px;
		right: -12px;
	}

	.segment-frame{
		position: sticky;
		top: 0px;
		z-index: 1;
		background: #fff;
	}

	.attached-img{
		height: 30px;
		width: 30px;
		overflow: hidden;
		background-color: #f2f2f2;
		margin-right: 15px;
	}

	.attached-img img{
		width: 100%;
	}



	.user-comment{
		position: relative;
		--background: transparent;
	}

	.user-comment ion-note{
		font-size: 12.5px;
		text-transform: capitalize;
	}

	.user-comment ion-label p{
		font-size: 14px;
		line-height: 20px;
		color: #303030;
	}

	.user-comment ion-label {
		background: #fff;
		padding: 10px;
		border-radius: 8px;
		position: relative;
		overflow: visible !important;
		z-index: 1;
		margin-left: 8px;
		margin-right: 8px;
		box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
		max-width: 90%;
		margin-bottom: 6px;
		margin-top: 18px;
	}

	.user-comment ion-label:before{
		content: "";
		border: 10px solid transparent;
		border-top-color: #fff;
		position: absolute;
		left: -7px;
		z-index: -1;
		top:0;
	}

	.user-comment .time{
		line-height: 1;
	}

	.user-comment.repeat ion-label{
		margin-top: 0;
		margin-bottom: 6px;
	}
	.user-comment.repeat ion-label:before{
		display: none;
	}

	.user-comment.self ion-label{
		background: #e9f1ff;
		margin-left: auto;
	}
	.user-comment ion-label h3,
	.user-comment ion-note{
		font-family: OpenSans-SemiBold;
	}
	.user-comment.self ion-label h3{
		text-align: right;
	}
	
	.user-comment.self ion-label:before{
		border-top-color: #e9f1ff;
		right: -7px;
		left: unset;
	}

	.user-comment.self ion-note{
		left: 20px;
		right: unset;
	}
	

	.ios.item-group-ios {
		padding-bottom: 0px !important;
	}

	.unread-notification{
		--ion-background-color:#dee9fd;
	}



	.ss-task ion-label h3{
		font-size: 16px;
		line-height: normal;
		font-family: OpenSans-SemiBold;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		white-space: normal;
		color: #353535;
	}

	.group-heading,.task-avatar-heading{
		background-color: #e9f1ff;
		border-bottom: 1px solid #dbe5f7;
	}
	.group-heading ion-label{
		font-family: OpenSans-SemiBold !important;
		color: #868686 !important;
		letter-spacing: 0.8px;
		margin-top: 8px;
		margin-bottom: 8px;
		font-size: 13px !important;
	}

	.group-heading ion-buttons ion-button{
		height: 35px !important;
		width: 35px !important;
	}
	.group-heading ion-buttons ion-button span{
		font-size: 14px !important;
		padding-left: 7px !important; 
	}
	.group-heading ion-buttons ion-button.button-has-icon-only{
		--padding-top: 8px !important;
		--padding-end: 8px !important;
		--padding-bottom: 8px !important;
		--padding-start: 8px !important;
	}

	.task-date.hide{
		display: none;
	}


	.checkbox-frame{
		position: relative;
		align-self: flex-start;
	}



	.task-title {
		font-size: 17px !important;
		line-height: normal;
		font-family: OpenSans-SemiBold;
		white-space: normal;
    /*display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;*/
}



.task-title-small{
	font-size: 15px !important;
	line-height: normal;
	font-family: OpenSans-SemiBold;
	white-space: normal;
    /*display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;*/
}
.subtask-list{
	padding-left: 48px;
}
.subtask-list ion-item{
	--min-height: 34px;
}
.subtask-list ion-label{
	margin: 8px 0;
}

.subtask-list ion-checkbox{
	margin: 10px 0;
}

.subtask-list .checkbox-frame {
	align-self: inherit;
}

.subtask-list ion-item:last-child{
	--inner-border-width: 0px;
}



.task-heading-box ion-buttons.ios {
	margin: 8px 0;
}




.list-modal{
	--height: auto;
}
.list-modal .modal-wrapper{
	max-width: 85vw;
	border-radius: 8px;


}
.list-modal .ion-page{
	position: relative;
	contain: content;
}

.creatList .popover-content{
	width: 90vw;

}

.user-meta{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;
}

.user-comment ion-label .user-meta p{
	font-size: 12px;
	font-family: OpenSans-SemiBold;
}

