<ion-content>
	<div class="flex-box ion-padding">
		<div>
			<div class="img-box">
				<img src="assets/1.jpg">
			</div>
			<div class="ion-text-center">
				<h2>Verify +91-9826636283</h2>
				<p class="ion-no-margin">OTP has been sent to you on your mobile number. Please enter it below</p>
			</div>
			
			<ion-item class="ion-no-padding ion-margin-bottom" lines="none">
				<ion-row class="ion-justify-content-center code-box">
					
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="5" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col class="ion-no-padding" size="1"></ion-col>
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="7" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col class="ion-no-padding" size="1"></ion-col>
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="2" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col class="ion-no-padding" size="1"></ion-col>
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="9" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col class="ion-no-padding" size="1"></ion-col>
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="2" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col class="ion-no-padding" size="1"></ion-col>
					<ion-col size="1" class="ion-no-padding">
						<div class="input-box"><ion-input type="number" value="9" placeholder=""></ion-input></div>
					</ion-col>
					<ion-col size="12" class="">
						<h6 class="ion-text-center">Enter 6 Digit Code</h6>
					</ion-col>
				</ion-row>

			</ion-item>
			<ion-item class="ion-no-padding resend-sms" lines="none">
				<ion-label >
					<h3>Resend SMS</h3>
				</ion-label>
				<ion-text>1:30</ion-text>
			</ion-item>
			
		</div>
		<div class="mt-auto ion-text-center">
			<ion-button routerLink="/intro">Next</ion-button>
		</div>
	</div>
</ion-content>
