<ion-header  class="ion-no-border">
	<ion-toolbar class="border-bottom">
		<ion-buttons slot="start">
			<!-- <ion-back-button></ion-back-button> -->
			<ion-button (click)="closeform()">
				<ion-icon name="close-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title size="small">Pending Task</ion-title>
		
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list class="pb-15">
		<ion-item-group>
			<div class="task-wrapper">
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Website design improvement and create two more content pages.</h3>
							<p class="task-date overdue">Fri, May 15</p>

						</ion-label>
						<ion-buttons slot="end" >

							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/7.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay telephone bill</h3>
							<p class="task-date overdue">Thu, May 14</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay water  bill</h3>
							<p class="task-date overdue">Tue, May 12</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/10.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>


				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Fixed Mr. Yogesh appointment Fixed Mr. Yogesh appointment</h3>
							<p class="task-date">Today</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Settle the vendor payment</h3>
							<p class="task-date">Today</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>

				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay house rent</h3>
							<p class="task-date">Tomorrow</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>






				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay electricity bill</h3>
							<p class="task-date">Sat, Jun 06</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/7.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay telephone bill</h3>
							<p class="task-date">Mon, Jun 08</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay water bill</h3>
							<p class="task-date">Wed, Jun 10</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/10.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>



				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay electricity bill</h3>
							<p class="task-date hide">Wed, Jun 10</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/7.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay telephone bill</h3>
							<p class="task-date hide">Wed, Jun 10</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/4.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
				<div class="ss-task">
					<ion-item lines="none">
						<span class="ion-item-start checkbox-frame"><ion-checkbox color="primary" slot="start"></ion-checkbox></span>
						<ion-label class="ion-no-margin" routerLink="/viewtask">
							<h3>Pay water bill</h3>
							<p class="task-date hide">Wed, Jun 10</p>
						</ion-label>
						<ion-buttons slot="end" >
							<ion-avatar class="task-avatar">
								<ion-img src="assets/icon/10.jpg"></ion-img>
							</ion-avatar>
						</ion-buttons>
					</ion-item>
				</div>
			</div>
		</ion-item-group>
	</ion-list>
</ion-content>



<ion-footer>
	<ion-toolbar>
		<ion-row class="ion-justify-content-end">
			<ion-col size="7">
				<ion-item lines="none" (click)="presentActionSheet()">
					<ion-icon name="options-outline" slot="end" ></ion-icon>
				</ion-item>
			</ion-col>
			<!-- <ion-col size="5" >
				<ion-item lines="none" (click)="sortActionSheet()">
					<ion-icon name="filter-outline" slot="end" size="small"></ion-icon>
					<ion-label class="ion-text-right ion-text-wrap">
						<h3>Due Date</h3>
					</ion-label>
				</ion-item>
			</ion-col> -->
		</ion-row>
	</ion-toolbar>
<!-- <ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col size="7">
				<ion-item lines="none" (click)="presentActionSheet()">
					<ion-icon name="options-outline" slot="start" size="small"></ion-icon>
					<ion-label class="ion-text-wrap">
						<h3>Assigned to me</h3>
					</ion-label>
				</ion-item>
			</ion-col>
			<ion-col size="5" >
				<ion-item lines="none" (click)="sortActionSheet()">
					<ion-icon name="filter-outline" slot="end" size="small"></ion-icon>
					<ion-label class="ion-text-right ion-text-wrap">
						<h3>Due Date</h3>
					</ion-label>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer> -->